{% extends "new.html" %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <p class="lead">Courses</p>
                <div class="list-group">
                	{% for course in user.classes %}
                    <a href="/admin/{{user.id}}/{{course.name}}" class="list-group-item">{{ course.name }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-9">

                <div class="thumbnail">
                    <div class="caption-full">
                        <h4>Welcome Administrator {{user}}!</h4>
                    </div>
                </div>

                <div class="well">
                    <div class="row">
                        <div class="col-md-12">
                            <h4> Profile : {{user}} </h4>
                            <p>Position: {{user.position}}</p>
                            <p>eMail: {{user.email}}</p>
                            <p> Office Hours: {{user.begin}} - {{user.end}} </p>

                            <p class="pull-right"><a class="btn btn-success" href="/admin/{{user.id}}/profile"> Full Profile </a></p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                        	<h4> Courses </h4>
                            <p>View your current courses</p>
                            <p class="pull-right"><a href="/admin/{{user.id}}/courses" class="btn btn-success"> Courses </a></p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                        	<h4> Contact Administrator</h4>
                            <p>View office hours and emails for your peers</p>
                            <p class="pull-right"><a class="btn btn-success" href="{{ url_for('adminContact', id=user.id) }}"> Contact </a></p>
                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>
{% endblock %}