{% extends "new.html" %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <p class="lead"> Courses </p>
                <div class="list-group">
                	{% for course in user.classes %}
                    <a href="/student/{{user.id}}/{{course.name}}" class="list-group-item">{{ course.name }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-9">

                <div class="thumbnail">
                    <div class="caption-full">
                        <h4>Current Courses</h4>
                    </div>
                </div>

                <div class="well">
                    {% for course in user.classes %}
                    <div class="row">
                        <div class="col-md-12">
                            <h4> <a href="/student/{{user.id}}/{{course.name}}"> {{course.name}} </a></h4>
                            <p> Class Description <p>
                            <p class="pull-right"><a class="btn btn-success" href="/admin/{{user.id}}/{{course.name}}"> Class Page </a> </p>
                            <br>
                            <hr>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>

        </div>

    </div>
{% endblock %}