{% extends "new.html" %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <p class="lead"> Courses </p>
                <div class="list-group">
                	{% for course in user.classes %}
                    <a href="/admin/{{user.id}}/{{course.name}}" class="list-group-item">{{ course.name}}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-9">
                <div class="well">
                    <div class="row">
                        <div class="col-md-12">
                        	<h4> Profile </h4>
                            <p> Name: {{user}} </p>
                            <p> Position: {{user.position}}</p>
                            <p> Office Hours: {{user.begin}} - {{user.end}}</p>
                            <p> eMail: {{user.email}}</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <form name="changePassword" method="POST" action=''>
                                <p> New Email: {{form.newEmail}} </p> 
                                <p class="pull-right"> <input type="submit" value="Set New Email" class="btn btn-primary" /> </p>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}