{% extends "new.html" %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <p class="lead"> Courses </p>
                <div class="list-group">
                	{% for course in user.classes %}
                    <a href="/student/{{user.id}}/{{course.course_name}}" class="list-group-item">{{ course.course_name}}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-9">
                <div class="well">
                    <div class="row">
                        <div class="col-md-12">
                        	<h4> Profile </h4>
                            <p> Name: {{user}} </p>
                            <p> Year: {{user.year}}</p>
                            <p> GPA: {{user.GPA}}</p>
                            <p> Total Credits: {{user.total_credits}}</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                        	<h4> Options </h4>
                            <p> Edit Profile </p>
                            <p><a href="/register" class="btn btn-success"> Add Class </a> 
                            <a href="/drop" class="btn btn-success"> Drop Class </a> 
                            <a href="/changepassword" class="btn btn-success"> Change Password </a></p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}